/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Светлый фон */
    color: #333; /* Темный текст для контраста */
    line-height: 1.6;
}

/* Контейнер для ограничивания ширины */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Заголовок */
header {
    background-color: #003366; /* Темно-синий фон */
    padding: 20px 0;
    color: #fff;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
}

/* Навигация */
nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900; /* Цвет текста при наведении */
}

/* Основной раздел */
.intro {
    padding: 40px 0;
    text-align: center;
    background-color: #ffffff; /* Белый фон */
}

.intro h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Услуги */
.services {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
}

.services h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.services ul {
    list-style-type: none;
}

.services ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Футер */
footer {
    background-color: #003366; /* Темно-синий фон */
    padding: 20px 0;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

footer p {
    font-size: 1em;
}

/* Респонсивность */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    nav ul li {
        margin: 0 10px;
    }

    .services ul li {
        font-size: 1em;
    }
}
