/* Основные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cambria', serif;
  background-color: #fff; /* Белый фон */
  color: black; /* Черный текст */
}

h1, h2 {
  color: #003366; /* Темно-синий */
}

a {
  color: #003366; /* Темно-синие ссылки */
  text-decoration: none;
}

a:hover {
  color: #8B0000; /* Темно-красный при наведении */
}

/* Шапка */
header {
  background-color: #003366; /* Темно-синий фон */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav li {
  margin: 0 20px;
}

nav a {
  font-size: 18px;
  font-weight: bold;
}

/* Секции */
section {
  padding: 60px 20px;
  text-align: center;
}

#about {
  background-color: #f5f5dc; /* Бежевый фон */
}

#services {
  background-color: #fff; /* Белый фон */
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 18px;
  margin: 10px 0;
}

/* Подвал */
footer {
  background-color: #003366; /* Темно-синий */
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
